body {
display: flex;
flex-direction: column;
background-color: rgb(141, 141, 141);
}

h1 {
    flex: 1;
    text-align: center;
}

#sketch {
    height: 600px;
    width: 600px;
    align-self: center;
    display: grid;
    grid-template-columns: repeat(100, 1%);
    background-color: white;
}

.c16x16 {

}
