body {
display: flex;
flex-direction: column;
background-color: rgb(141, 141, 141);
}

h1 {
    flex: 1;
    text-align: center;
}

#grid {
    height: 600px;
    width: 600px;
    align-self: center;
    display: grid;
    background-color: white;
}

.c16x16 {
    /* border: 1px solid black; */
}
